<div>
  <div class="container">

    <div class="card text-center">
      <div class="card-header">
        <h2 style="margin: 0">Seminaries</h2>
      </div>
      <div class="list-group list-group-flush" *ngFor="let seminarie of seminaries">
        <h5 class="card-title" style="background-color: #41A43B43;"><b>{{seminarie.title}}</b></h5>
        <p class="card-text">{{seminarie.omschrijving}}</p>
        <p class="card-text">Locatie: {{seminarie.locatie}}</p>
        <p class="card-text">{{seminarie.tijdspanne}}</p>
        <br/>
      </div>
    </div>

    <div class="card text-center">
      <div class="card-header">
        <h2 style="margin: 0">Innovatieroutes</h2>
      </div>
      <div class="list-group list-group-flush" *ngFor="let innovatie of innovaties">
        <h5 class="card-title" style="background-color: #41A43B43;"><b>{{innovatie.title}}</b></h5>
        <p class="card-text">{{innovatie.omschrijving}}</p>
        <p class="card-text">Locatie: {{innovatie.locatie}}</p>
        <p class="card-text">{{innovatie.tijdspanne}}</p>
        <br/>
      </div>
    </div>

    <div class="card text-center">
      <div class="card-header">
        <h2 style="margin: 0">Persoonlijke Ontwikkeling</h2>
      </div>
      <div class="list-group list-group-flush" *ngFor="let activiteit of persoonlijk">
        <h5 class="card-title" style="background-color: #41A43B43;"><b>{{activiteit.title}}</b></h5>
        <p class="card-text">{{activiteit.omschrijving}}</p>
        <p class="card-text">Locatie: {{activiteit.locatie}}</p>
        <p class="card-text">{{activiteit.tijdspanne}}</p>
        <br/>
      </div>
    </div>
  </div>
</div>
