<body class="text-center">
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column jumbotron">
      <img src="assets/RIF.jpg" width="960" height="540" class="masthead-avatar mb-1 " alt="placeholder"/>
      <h1 class="masthead-heading text-uppercase mb-1 text-dark">I-talent</h1>
      <h3 class="masthead-heading text-uppercase mb-1 text-dark">Jan Robyns</h3>
      <h5 class="masthead-subheading font-weight-light mb-3 text-dark">AI-enthousiast - Musician - Alpha Male</h5>
    </div>
  </header>
</body>
